<ul class="bookmarkTools">
   
      	<li class="email">
	      <%= link_to t('blacklight.tools.email'), email_search_path(:id => @searches), {:id => 'emailLink', :class => 'lightboxLink'} %>
	      </li>
	</ul>
